@model Application.Responses.Pagination<Application.DTO.PostDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (TempData["error"] != null)
{
    <p class="text-danger">@TempData["error"]</p>
}
<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model.Data)
{<br />
    <ter>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </ter>
}
    </tbody>
</table>
